include README.md
include LICENSE
include requirements.txt
include MANIFEST.in
include pyproject.toml
recursive-include encoding_mcp *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
global-exclude test_*
global-exclude *test*
global-exclude .pytest_cache
global-exclude coverage.xml
global-exclude .coverage
global-exclude dist
global-exclude build
global-exclude *.egg-info
